{% extends "mybase2.html" %}
{% load crispy_forms_tags %}
{% load static %}

 {% block extra_css %}
 <link href="{% static 'css/mycss.css' %}" rel="stylesheet">

<link href="{% static 'css/dropdown.css' %}" rel="stylesheet">

  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
   <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">

{% endblock extra_css %}


{% block content %}




{% for sem in semester_queryset %}

<form style="float: left;" onsubmit="btnsubmit.disabled = true; return true ;" method="POST">{% csrf_token %}


                            <input type="hidden" id="sem_id" name="sem_id" value={{sem.id}}>

                            {% if game_id == "1" %}
                                
                                <button formaction="/game1Form/" class="btn-group btn-group-lg btn btn-outline-info active" name="btnsubmit" type="submit"><font size="4">Semester {{sem}}</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>&nbsp;

                             {% elif game_id == '2' %}

                                <button formaction="/game2Form/" class="btn-group btn-group-lg btn btn-outline-info active" name="btnsubmit" type="submit"><font size="4">Semester {{sem}}</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>&nbsp;


                             {% endif %}
</form> 






{% endfor %}


{% endblock content %}